[Desktop Entry]
Version=1.0
Type=Application
Name=photorec
Comment=file data recovery software
Exec=su-to-root -X -c "x-terminal-emulator -e photorec"
Icon=drive-harddisk
Path=
Terminal=false
StartupNotify=false